<ion-header>
  <ion-toolbar> <ion-title>Clientes</ion-title> </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let client of clients">
      <ion-label>
        <h3>{{ client.firstname }} {{ client.lastname }}</h3>
        <p>Identificación: {{ client.identification }}</p>
        <p>Nacido el {{ formatDate(client.birthdate) }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addClient()">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
